.current-student-outer-wrapper {
  height: inherit;
}

.current-student-wrapper {
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: space-evenly;
}

.edit-student-btn {
  margin-top: 30px;
  font-family: 'Exo 2', sans-serif;
  background-color: #e6ffff;
  color: #0c141f;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  width: auto;
}

.all-skills-wrapper {
  display: flex;
}

.all-details-wrapper {
  display: flex;
  flex-direction: column;
}
.indiv-skills-wrapper {
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
}

.student-name {
  font-size: 35px;
  margin: 20px 0;
}

.id-text {
  font-size: 15px;
  margin-top: 15px;
}

.email-form {
  font-family: 'Exo 2', sans-serif;
  font-size: 20px;
  background-color: #0c141f;
  padding: 10px;
  margin-left: 5px;
  color: #ffe64d;
  border: none;
  border-bottom: 2px solid #ffe64d;
  outline: none;
}

.email-form:focus {
  border-bottom: 2px solid #df740c;
}

.send-email {
  background-color: #ffe5e5;
  border: 1px solid #ff0000;
}
